@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active, .nice-select.open {
  outline: none;
}

a:focus, a:active, a.nice-select.open {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  height: 42px;
  line-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 30px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  -webkit-user-select: none;
  user-select: none;
  white-space: nowrap;
  width: auto;
}
.nice-select:hover {
  border-color: #dbdbdb;
}
.nice-select:active, .nice-select.open, .nice-select:focus {
  border-color: #999;
}
.nice-select:after {
  border-bottom: 2px solid #999;
  border-right: 2px solid #999;
  content: "";
  display: block;
  height: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform-origin: 66% 66%;
  transform: rotate(45deg);
  transition: all 0.15s ease-in-out;
  width: 5px;
}
.nice-select.open:after {
  transform: rotate(-135deg);
}
.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1) translateY(0);
}
.nice-select.disabled {
  border-color: #ededed;
  color: #999;
  pointer-events: none;
}
.nice-select.disabled:after {
  border-color: #cccccc;
}
.nice-select.wide {
  width: 100%;
}
.nice-select.wide .list {
  left: 0 !important;
  right: 0 !important;
}
.nice-select.right {
  float: right;
}
.nice-select.right .list {
  left: auto;
  right: 0;
}
.nice-select.small {
  font-size: 12px;
  height: 36px;
  line-height: 34px;
}
.nice-select.small:after {
  height: 4px;
  width: 4px;
}
.nice-select.small .option {
  line-height: 34px;
  min-height: 34px;
}
.nice-select .list {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
  box-sizing: border-box;
  margin-top: 4px;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  pointer-events: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform-origin: 50% 0;
  transform: scale(0.75) translateY(-21px);
  transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
  z-index: 9;
}
.nice-select .list:hover .option:not(:hover) {
  background-color: transparent !important;
}
.nice-select .option {
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  list-style: none;
  min-height: 40px;
  outline: none;
  padding-left: 18px;
  padding-right: 29px;
  text-align: left;
  transition: all 0.2s;
}
.nice-select .option:hover, .nice-select .option.focus, .nice-select .option.selected.focus {
  background-color: #f6f6f6;
}
.nice-select .option.selected {
  font-weight: bold;
}
.nice-select .option.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}

.no-csspointerevents .nice-select .list {
  display: none;
}
.no-csspointerevents .nice-select.open .list {
  display: block;
}

body {
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
body a {
  color: #ffffff;
}

a.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  background: #3A68B8;
  border-radius: 5px;
  padding: 15px 30px;
  transition: 0.3s;
  display: inline-block;
}

a.btn:hover {
  box-shadow: 2px 2px 10px #3A68B8;
}

.container {
  max-width: 1134px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  background-color: #0a121f;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 21px 0;
}
.header__burger {
  display: none;
}
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  display: inline-block;
  padding-left: 30px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__list li {
  padding-left: 40px;
}
.header__list li a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  position: relative;
}
.header__list li a:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3A68B8;
  content: "";
  transition: width 0.3s ease-out;
}
.header__list li a:hover:after,
.header__list li a:focus:after {
  width: 100%;
}
.header__button a {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 30px;
  background: #3A68B8;
  border-radius: 5px;
  transition: 0.4s;
}
.header__button a:hover {
  box-shadow: 2px 2px 10px #3A68B8;
}

.platform {
  background-color: #08101e;
  padding-top: 80px;
  padding-bottom: 90px;
}
.platform .container {
  max-width: 1370px;
}
.platform__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.platform__picture {
  transform: translateX(114px);
}
.platform__text h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  color: #3A68B8;
  padding-bottom: 10px;
}
.platform__text h1 {
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
  padding-bottom: 40px;
}
.platform__text p {
  font-weight: 600;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.7;
  padding-bottom: 50px;
}
.platform__text a.btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  background: #3A68B8;
  border-radius: 5px;
  padding: 15px 30px;
  transition: 0.3s;
}
.platform__text a.btn-video {
  margin-left: 20px;
  padding-left: 66px;
  position: relative;
}
.platform__text a.btn-video:before {
  content: "";
  position: absolute;
  background: url("../../img/icon_for_video.png") center/cover no-repeat;
  width: 20px;
  height: 25px;
  transform: translate(-35px, 2px);
}
.platform__text a:hover {
  box-shadow: 2px 2px 10px #3A68B8;
}

.partners {
  background-color: #08101e;
  padding-bottom: 100px;
}
.partners__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 70px;
}
.partners img {
  transition: 0.3s;
}
.partners a {
  text-align: center;
}
.partners img:hover {
  transform: translateY(-20px);
}

.brain {
  background-color: #020A18;
  padding-bottom: 170px;
  padding-top: 130px;
}
.brain .container {
  max-width: 1300px;
}
.brain__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brain__text h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  padding-bottom: 30px;
}
.brain__text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
  padding-bottom: 50px;
}

.about {
  background-color: #020A18;
  padding-bottom: 170px;
}
.about .container {
  max-width: 1300px;
}
.about .owl-carousel .owl-item img {
  width: auto;
}
.about .owl-dots {
  text-align: center;
}
.about .owl-dot {
  background: #2C3647 !important;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin: 0 10px;
  opacity: 0.5;
  transition: 0.3s;
}
.about .owl-dot.active {
  opacity: 1;
  transition: 0.3s;
}
.about__item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 30px 50px 30px;
  background-color: #0F1724;
  padding: 30px;
  border-radius: 10px;
}
.about__item .small-image {
  padding: 17px 0 47px 0;
}
.about__item h3 {
  font-weight: bold;
  font-size: 23px;
  line-height: 125%;
  padding-bottom: 30px;
}
.about__item img {
  padding-bottom: 30px;
}

.response {
  background-color: #020A18;
  padding-bottom: 170px;
}
.response .container {
  max-width: 1240px;
}
.response__body {
  display: flex;
  align-items: center;
}
.response__text h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  padding-bottom: 40px;
}
.response__text p {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.7;
  padding-bottom: 20px;
  max-width: 460px;
}
.footer {
  background-color: #08101E;
  padding-bottom: 148px;
}
.footer h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 32px;
  padding-top: 16px;
}
.footer__body {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}
.footer p {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
  padding-top: 10px;
  max-width: 261px;
}
.footer__contact {
  min-width: 260px;
}
.footer__contact .footer__logo {
  font-style: normal;
  font-weight: 600;
  color: #3A68B8;
}
.footer__contact img {
  display: block;
  padding-bottom: 8px;
}
.footer__contact p {
  padding-bottom: 37px;
}
.footer__contacts a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.footer__contacts .contact__email {
  position: relative;
}
.footer__contacts .contact__email:before {
  content: "";
  position: absolute;
  background: url("../../img/icon__mail.png") center no-repeat;
  width: 15px;
  height: 12px;
  transform: translate(-20px, 3px);
}
.footer__contacts .contact__phone {
  position: relative;
}
.footer__contacts .contact__phone:before {
  content: "";
  position: absolute;
  background: url("../../img/icon__phone.png") center no-repeat;
  width: 15px;
  height: 15px;
  transform: translate(-20px, 3px);
}
.footer__contacts .contact__street {
  position: relative;
}
.footer__contacts .contact__street:before {
  content: "";
  position: absolute;
  background: url("../../img/icon__location.png") center no-repeat;
  width: 15px;
  height: 18px;
  transform: translate(-20px, 0px);
}
.footer__list {
  min-width: 121px;
}
.footer__list li {
  padding-bottom: 20px;
}
.footer__list a {
  font-weight: 450;
  font-size: 14px;
  line-height: 18px;
  opacity: 0.6;
  transition: 0.3s;
}
.footer__list a:hover {
  color: #3A68B8;
}
.footer__about {
  max-width: 260px;
}
.footer__about p {
  padding: 0 0 30px 0;
}
.footer__about h4 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 21px;
  display: block;
}
.footer__about a {
  padding-right: 25px;
}
.footer__about .start-icon {
  padding: 0;
}
.footer__about form {
  padding-top: 40px;
}
.footer__about .nice-select {
  padding: 0 25px 0 20px;
  background-color: transparent;
  border: none;
  position: relative;
}
.footer__about .nice-select .list {
  background-color: transparent;
  border: 1px solid #3A68B8;
}
.footer__about .nice-select .option:hover, .footer__about .nice-select .option.focus, .footer__about .nice-select .option.selected.focus {
  background-color: transparent;
}
.footer__about .nice-select:before {
  content: "";
  background: url("../../img/lang__icon.svg") center no-repeat;
  width: 13px;
  height: 13px;
  position: absolute;
  transform: translate(-20px, 14px);
}

@media (max-width: 1570px) {
  .platform__picture {
    transform: translate(0);
  }
}
@media (max-width: 1230px) {
  .partners__body {
    grid-template-columns: repeat(2, 1fr);
  }
  .partners__body img {
    max-width: 295px;
    margin: 0 auto;
  }
}
@media (max-width: 1111px) {
  .platform h1 {
    font-size: 35px;
    padding: 0 0 20px 0;
  }
  .platform__body img {
    max-width: 100%;
  }
  .platform__text {
    max-width: 460px;
  }
  .platform__text a.btn {
    padding: 10px !important;
  }
  .platform__text a.btn-video {
    padding-left: 46px !important;
  }

  .partners {
    padding-bottom: 50px;
  }

  .brain {
    padding-top: 50px;
  }
  .brain__text h2 {
    font-size: 20px;
    padding-bottom: 15px;
  }
  .brain__text p {
    font-size: 14px;
    padding-bottom: 15px;
  }
  .brain__text a.btn {
    padding: 10px;
    font-size: 14px;
  }
  .brain img {
    max-width: 100%;
  }

  .about__item h3 {
    font-size: 16px;
  }
  .about__item p {
    font-size: 14px;
  }

  .response {
    padding-bottom: 60px;
  }
  .response img {
    max-width: 100%;
  }
  .response__text h2 {
    font-size: 24px;
  }
  .response__text p {
    font-size: 14px;
  }
}
@media (max-width: 940px) {
  .about .owl-carousel .owl-item img {
    max-width: 30%;
  }
  .about .owl-carousel .owl-item .small-image {
    padding: 0 0 30px 0;
  }
  .about .owl-carousel .owl-item h3 {
    font-size: 14px;
  }
  .about .owl-carousel .owl-item p {
    font-size: 12px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
  }

  .header__burger:before,
.header__burger:after {
    content: "";
    background-color: #ffffff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    z-index: 4;
    transition: all 0.3s ease 0s;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #ffffff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    z-index: 4;
  }

  .header__menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #3A68B8;
    transition: 0.3s;
    opacity: 1;
    z-index: 1;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__menu.active {
    right: -70%;
    z-index: 2;
  }

  .header__menu {
    flex-direction: column;
    align-items: flex-start;
    justify-content: normal;
    padding-left: 50px;
  }

  .header__btn a {
    background-color: #000;
  }

  .header__list {
    flex-direction: column;
  }
  .header__list li {
    padding: 20px 0 20px 50px;
  }
  .header__list li:first-child {
    padding-top: 150px;
  }
  .header__list li:last-child {
    padding-bottom: 50px;
  }

  .footer__body {
    flex-wrap: wrap;
  }
  .footer .footer__about {
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .header__menu {
    padding-left: 30px;
  }

  .platform__text h2 {
    font-size: 14px;
  }
  .platform__text h1 {
    font-size: 20px;
  }
  .platform__text p {
    font-size: 14px;
  }
  .platform__text a.btn {
    font-size: 12px;
  }

  .partners__body {
    grid-gap: 20px;
  }
  .partners__body img {
    max-width: 60%;
  }

  .brain__body {
    gap: 10px;
  }
  .brain__text h2 {
    font-size: 16px;
  }
  .brain__text p {
    font-size: 12px;
  }
  .brain__text a.btn {
    font-size: 12px;
    padding: 5px;
  }

  .response__text h2 {
    font-size: 18px;
  }
  .response__text p {
    font-size: 12px;
  }

  .footer {
    text-align: center;
    padding-bottom: 130px;
  }
  .footer__about .nice-select {
    right: -33%;
  }

  .footer__contact {
    margin: 0 auto;
  }
  .footer__contact img {
    max-width: 47px;
    margin: 0 auto;
  }
  .footer__list {
    margin: 0 auto;
  }
  .footer a {
    font-size: 12px;
  }
}
@media (max-width: 570px) {
  .header .header__menu {
    padding-left: 25px;
  }

  .header__menu.active {
    right: -55%;
  }

  .platform__body {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .platform__text {
    text-align: center;
  }
  .platform__picture {
    text-align: center;
  }
  .platform__picture img {
    padding-top: 20px;
    max-width: 50%;
  }

  .response {
    text-align: center;
  }
  .response__body {
    flex-direction: column;
  }
  .response img {
    max-width: 50%;
  }
}
@media (max-width: 480px) {
  .brain {
    padding-bottom: 40px;
  }

  .about {
    padding-bottom: 40px;
  }

  .footer__body {
    padding-top: 0;
  }
}
@media (max-width: 418px) {
  .header .header__menu {
    padding-left: 25px;
  }

  .header__menu.active {
    right: -50%;
  }

  .brain__text h2 {
    font-size: 14px;
  }
  .brain__text p {
    font-size: 10px;
  }
}
@media (max-width: 380px) {
  .header .header__menu {
    padding-left: 25px;
  }

  .header__menu.active {
    right: -45%;
  }
}